.slider {
  width: 600px;
 
  overflow: hidden;
  position: relative;
}

.slider .controls ul {
  padding: 0px;
  text-align: center;
  position: absolute;
  bottom: 1em;
  margin: 0px; 
  width: 100%;
}

.slider .controls li {
  list-style-type: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0,0.4);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.slider .controls li.active {
  background-color: rgb(50, 50, 150)
}

.slider .container {
  white-space: nowrap; 
  position: relative;
  transition: all 0.4s;
  left:0px;
}

.slider .container * {
  white-space: normal; 
}

.slider img {
  width: 100%;
  height: 400px;
  display: inline-block;
  margin-right: -4px;
}


/* Menu NAV */
nav {
  background-color: #303f9f;
  color: #fff;
  width: 100%;  
  padding-left: 10px;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  font-size: 24px;
}


/* Autocomplete */
.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

input {
  padding: 1em;
  display: inline-block;
  font-size: 1.3em;
  width: 350px;
}

/* input Material Design */

.input-form {
  position: relative;
  padding-top: 12px;
}

.input-form input {
  width: 100%;
  border: none;
  padding: 8px 0px;
  border-bottom: 2px solid #bdbdbd
}

.input-form input:focus {
  outline: none;
}

.input-form input:focus + label, .input-form input.non-empty + label {
  font-size: 0.6em;
  margin-top: -12px;
}

.input-form label {
  position: absolute;
  top: 14px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  transition: all 0.2s;
}

.input-form label::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0%;
  height: 2px;
  background-color: currentColor;
  bottom: -40px;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
  transition-delay: 0.15s;
}

.input-form input:focus + label::after, .input-form input.non-empty + label::after {
  visibility: visible;;
  transform: scale(1);
}

.input-form input:valid + label {
  color: #1565c0;
}
.input-form input:invalid + label {
  color: #d32f2f;
}

.input-form input:not(:focus):not(.non-empty) + label{
  color: #bdbdbd;
}
